---
locale: pl-PL
title: How to BI ?
subtitle: Blog o analityce biznewsowej i raportowaniu
email: bubelarek@gmail.com
description: |-
  How 2 BI to miejsce, w którym znajdziesz wskazówki dotyczące analityki biznesowej i raportowania oraz zarządzaniu projektami BI.

  How 2 BI is place where you find tips for managing business intelligence projects.
github_username: bubelarek
minimal_mistakes_skin: default
search: true
url: https://www.how2bi.com
head_scripts:
- https://code.jquery.com/jquery-3.2.1.min.js
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
permalink: "/:categories/:title/"
paginate: "5"
paginate_path: "/page:num/"
timezone: 
include:
- _pages
plugins:
- jekyll-paginate
- jekyll-sitemap
- jekyll-gist
- jekyll-feed
- jemoji
- jekyll-include-cache
author:
  name: 'Arkadiusz Bubeleski '
  avatar: "/assets/images/bubelarek.jpg"
  bio: Tired of visual-freestyle and YOLO mananagment in BI world. Big fan of standardisation,
    processes and routine.
  links:
  - label: LinkedIn
    icon: fab fa-fw fa-linkedin
    url: https://www.linkedin.com/in/bubelarek/
  - label: GitHub
    icon: fab fa-fw fa-github
    url: https://github.com/bubelarek
  - label: e-mail
    icon: fas fa-fw fa-at
    url: mailto:bubelarek@gmail.com
footer:
  links:
  - label: LinkedIn
    icon: fab fa-fw fa-linkedin
    url: https://www.linkedin.com/in/bubelarek/
  - label: GitHub
    icon: fab fa-fw fa-github
    url: https://github.com/bubelarek
  - label: e-mail
    icon: fas fa-fw fa-at
    url: mailto:bubelarek@gmail.com
defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: single
    author_profile: true
    read_time: true
    comments: true
    share: true
    related: true
    show_date: true
- scope:
    path: _pages
    type: pages
  values:
    layout: single
    author_profile: true
category_archive:
  type: liquid
  path: "/categories/"
tag_archive:
  type: liquid
  path: "/tags/"
comments:
  provider: facebook
  facebook:
    appid: 
    num_posts: 
    colorscheme: 
